@model LocationViewModel
@{
    ViewData["Title"] = "Location Management";
}
<script src="~/scripts/LocationLoader.js" type="text/javascript"></script>
<h2>Location Management</h2>

<button class="btn btn-primary" id="departments">Departments</button>
<button class="btn btn-primary" id="buildings">Buildings</button>

<div id="locationOutput">

</div>

<div id="locationIndexData" data-locindex="@Model.LocationDrawData"></div>
