@model UserEditViewModel
@{
    ViewData["Title"] = "CreateUser";
}
<div class="col-sm-12">
    <h2>New User Setup</h2>

    <form asp-action="CreateUser" asp-controller="AccountAdministration" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.FirstName" class="input-group-text control-label" id="basic-addon1">First Name</label>
            </div>
            <input asp-for="IdentityUser.FirstName" class="form-control"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.LastName" class="input-group-text control-label" id="basic-addon1">Last Name</label>
            </div>
            <input asp-for="IdentityUser.LastName" class="form-control"/>
            <span asp-validation-for="LastName" class="text-danger" id="basic-addon1"></span>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.PhoneNumber" class="input-group-text control-label" id="basic-addon1">Phone Number</label>
            </div>
            <input asp-for="IdentityUser.PhoneNumber" class="form-control"/>
            <span asp-validation-for="IdentityUser.PhoneNumber" class="text-danger"></span>
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.Email" class="input-group-text control-label" id="basic-addon1">Email</label>
            </div>
            <input asp-for="IdentityUser.Email" class="form-control"/>
            <span asp-validation-for="IdentityUser.Email" class="text-danger"></span>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Password" class="input-group-text control-label" id="basic-addon1">Password</label>
            </div>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="input-group-prepend">
                <label asp-for="Password" class="input-group-text control-label" id="basic-addon1">Password</label>
            </div>
            <input class="form-control" />
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.DepartmentId" class="input-group-text control-label" for="inputGroupSelect01">Department</label>
            </div>
            <select asp-for="IdentityUser.DepartmentId" asp-items="Model.Departments" class="custom-select" id="inputGroupSelect01"></select>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.OfficeBuildingId" class="input-group-text control-label">Buildings</label>
            </div>
            <select asp-for="IdentityUser.OfficeBuildingId" asp-items="Model.Buildings" class="custom-select" id="buildingList"></select>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.OfficeRoomId" class="input-group-text control-label">Rooms</label>
            </div>
            <select asp-for="IdentityUser.OfficeRoomId" class="custom-select" id="roomIdList"></select>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.TechnicalGroupId" class="input-group-text control-label">Technical Group</label>
            </div>
            <select asp-for="IdentityUser.TechnicalGroupId" asp-items="Model.TechnicalGroups" class="custom-select" id="TechnicalGroupIdList"></select>
        </div>
        <div class="form-group input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="IdentityUser.SubTechnicalGroupId" class="input-group-text control-label">Sub Technical Group</label>
            </div>
            <select asp-for="IdentityUser.SubTechnicalGroupId" asp-items="Model.SubTechnicalGroups" class="custom-select" id="SubTechnicalGroupIdList"></select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create"/>
        </div>
    </form>
</div>