@model UserEditViewModel;
@{
    ViewData["Title"] = "CreateUser";
}

<h2>CreateUser</h2>

<form asp-controller="AccountAdministration" asp-action="CreateUser" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FirstName" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control"/>
        </div>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="form-control"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
    </div>
</form>