<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/js/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/js/popper.js/popper.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">OpenTicketSystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="TicketList" asp-action="MyTickets" class="nav-link">
                        Tickets
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Search" asp-action="Index" class="nav-link">
                        Search
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
