<!DOCTYPE html>

@inject SignInManager<AppIdentityUser> signInManager
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<AppIdentityUser> userManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">OpenTicketSystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="TicketList" asp-action="MyTickets" class="nav-link">
                        Tickets
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Search" asp-action="Index" class="nav-link">
                        Search
                    </a>
                </li>
                @{ 
                    var userRoles = await userManager.GetRolesAsync(await userManager.GetUserAsync(User));
                    var accMan = userRoles.Contains("AccountManager");
                    var locMan = userRoles.Contains("LocationManager");
                    var techRMan = userRoles.Contains("TechnicianRoleManager");
                    if (accMan || locMan || techRMan)
                    {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu">
                        @if(accMan)
                        {
                        <a asp-action="Index" asp-controller="AppAccount" class="dropdown-item">Account</a>
                        }
                        @if (locMan)
                        {
                        <a asp-action="Index" asp-controller="Location" class="dropdown-item">Location</a>
                        }
                        @if (techRMan)
                        {
                        <a asp-action="Index" asp-controller="TechnicalGroup" class="dropdown-item">Role</a>
                        }
                    </div>
                </li>
                    }
                }
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody();
    </div>


    @RenderSection("Scripts", required: false);
</body>
</html>
