@model OpenTicketSystem.ViewModels.UserAdapterModel

@{
    ViewData["Title"] = "Create";
}
w
<script src="~/scripts/AccountPageBehavior.js"></script>
<h2>Create</h2>

<h4>UserAdapterModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password1" class="control-label">Password</label>
                <input asp-for="Password1" class="form-control" />
                <span asp-validation-for="Password1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password2" class="control-label">Password</label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-control departmentInfo" id="deptdd"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeBuildingId" class="control-label">Building</label>
                <select asp-for="OfficeBuildingId" class="form-control buildingInfo"></select>
                <span asp-validation-for="OfficeBuildingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeRoomId" class="control-label">Room</label>
                <select asp-for="OfficeRoomId" class="form-control roomInfo"></select>
                <span asp-validation-for="OfficeRoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalGroupId" class="control-label">Technical Group</label>
                <select asp-for="TechnicalGroupId" class="form-control technicalGroupInfo"></select>
                <span asp-validation-for="TechnicalGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTechnicalGroupId" class="control-label">Sub Technical Group</label>
                <select asp-for="SubTechnicalGroupId" class="form-control subTechnicalGroupInfo"></select>
                <span asp-validation-for="SubTechnicalGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
