@model IEnumerable<TicketPreviewViewModel>

@{
    ViewData["Title"] = "Global Ticket Queue";
}
<a asp-controller="TicketList" asp-action="NewTicket" class="nav navbar-nav">
    New Ticket
</a>
<div class="container-fluid">
    @foreach (var ticket in Model)
    {
        <a asp-controller="TicketList" asp-action="Ticket" asp-route-id="@ticket.TicketId">
            <div class="row">
                <div class="col">@ticket.TicketId</div>
                <div class="col">@ticket.TimeStamp</div>
                <div class="col-sm">@ticket.Subject</div>
            </div>
        </a>
    }
</div>

